canvas{
    border: 1px solid #eeeeee;
}

.actionBar{
    margin-top: 50px;
}

.editBar{
    margin-top: 10px;
}

.editBar input{
    max-width: 300px;
}

.gif-images>li img{
    max-width: 100px;
}

.gif-images > li{
    display: inline-block;
    margin-right: 5px;
}

.gif-images{
    padding: 0
}